@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&display=swap");

:root {
  --primary-color: #ac0f0f;
  --off-white: #f3f4f6;
  --dark-gray: #6b7280;
}

body {
  font-family: "Merriweather", serif;
  margin: 0rem;
}

hr {
  margin: 2rem 0rem;
}

/* container */
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/** links **/
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}
.link-primary:hover {
  color: var(--primary-color);
  background-color: white;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}
.link-secondary:hover {
  color: white;
  background-color: var(--primary-color);
}

/* ben convention in css */
/* lists */

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* navigation */
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}
.navigation .nav-brand {
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
  background-color: #ffffff;
  color: #000;
  border-radius: 10%;
}

/* header */
.hero {
  padding: 1rem;
  text-align: center;
  padding-top: 0.5rem;
  background-color: rgb(75, 150, 150);
}

.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
  border: solid 10px #ffffff;
}

.hero .hero-heading {
  padding-top: 1rem;
  color: #f3f4f6;
  text-align: center;
}

.hero .hero-heading .heading-inverted {
  color: #ce9b0e;
}
.hero-heading {
  text-decoration: underline;
}
/* section */
.section {
  padding: 4rem;
}

.section {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

/* footer */
.footer {
  margin-top: 2rem;
  background-color: #9c3106;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}
.footer .footer-header {
  font-weight: bold;
  font-size: large;
}
.fa-twitter-square {
  color: #0f5faa;
}

.fa-github-square {
  color: #211f1f;
}
.fa-linkedin {
  color: #0077b5;
}
@media screen and (min-width: 360px) {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
